<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>DodgeCounter</title>
  <link rel="stylesheet" type="text/css" href="./app.component.css">
</head>
  <body>
    <h1>Dodge Counter</h1>
    <div class="users">
      <app-user-row *ngFor="let user of users" [user]="user" [timestamps]="timestamps"></app-user-row>
    </div>
    <table class="timestamps">
        <tr *ngFor="let timestamp of timestamps.reverse()">
          <td>
            <a>{{timestamp.name}}</a>
            <a>{{convertTimestamp(timestamp)[0]}}</a>
            <a>{{convertTimestamp(timestamp)[1]}}</a>
          </td>
        </tr>
    </table>
  </body>
</html>
